body {
    font-family: 'Assistant', sans-serif;
    color: brown;
    line-height: normal;
    font-size: 22px;
}

h1 {
    color: red;
    font-family: 'Tinos', serif;
    font-size: 70px;
}

h2 {
    color: orange;
    font-family: 'Tinos', serif;
    font-size: 50px;
}

h3 {
    color: green;
    font-family: arial;
    font-family: 'Tinos', serif;
    font-weight: 500;
    font-size: 45px;
}

ol {
    font-weight: 400;
    color: black;
    list-style-type: decimal;
}

ul {
    color: black;
    list-style-type: circle;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

h2 {
    font-size: 40px;
}

p {
    color: red;
    font-weight: 700;

}

h4 {
    font-family: 'Tinos', serif;
    font-weight: 500;
    font-size: 35px;

}

.container {
    max-width: 800px;
    margin: auto;

}

.cta {
    background:beige;
    font-size: 21px;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
.cta h3{
    color: green;
    margin-bottom: 0px;
}
.cta p{
    color: green;
  

}
.button {
      background: #08c;
  color: #fff;
  text-decoration: none;
  padding: 14px;
  display: inline-block;

}
   

.button2 {
    background-color: #08c;
    color: #fff;
     padding: 14px;
   display: inline-block;
    text-align: center;
}
