body{
    font-family: arial; 
    color: crimson;
    line-height: normal;
 
}
   h2{
        color: coral;
        font-family: serif;
    }
    
    h1{
        color: darkcyan;
        font-family: serif
        
    } 