body {
    font-family: 'Assistant', sans-serif;
    line-height: normal;
    font-size: 22px;
}

h1 {
    color: red;
    font-family: 'Tinos', serif;
    font-size: 70px;
}

h2 {
    color: #bc8715;
    font-family: 'Tinos', serif;
    font-size: 50px;
}

h3 {
    color: green;
    font-family: arial;
    font-family: 'Tinos', serif;
    font-weight: 500;
    font-size: 45px;
}

ol {
    font-weight: 400;
    color: black;
    list-style-type: decimal;
}

ul {
    color: black;
    list-style-type: circle;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}
.alignleft{
    max-width: 40%;
    float: left;
    margin-right: 30px;
    margin-bottom: 14px;
    margin-top:120px;
}


h2 {
    font-size: 40px;
}

p {
    color: red;
    font-weight: 700;

}

h4 {
    font-family: 'Tinos', serif;
    font-weight: 500;
    font-size: 35px;

}

.container {
    max-width: 800px;
    margin: auto;

}

.cta {
    background:#e6dbad;
    font-size: 21px;
    padding: 20px;
    margin-top: 20px;
    overflow: hidden;

}
.cta h3{
    color: #982e5a;
    margin-bottom: 0px;
    margin-top: auto;
    font-size: 45px;

}
.cta p{
    color: #982e5a;
  margin-bottom: 30px;
    font-size:25px;


}
.cta .alignleft{
    max-width:30%;
    margin-top:40px;
    margin-right: 0px;
}

.button {
      background: #bc8715;
  color: #fff;
    text-align: right;
  text-decoration: none;
  padding: 14px;
  display: inline-block;
    margin-right: 14px;
    

}
   

.button2 { 
    text-decoration: none;
    display: inline-block;
color: #982e5a;
}



.button-black {
    background: #cb9f41;
}
